@import "tailwindcss";

@theme {
  --font-century: "Century Gothic";

  --shadow-up: 0 -5px 10px rgba(0, 0, 0, 0.4);
}

@layer utilities {
  .drop-shadow-custom {
    position: relative;
    z-index: 1;
    box-shadow: inset -4px -4px 0 4px rgba(0, 0, 0, 0.8), inset 4px 4px 0 4px rgba(255, 255, 255, 0.25);
  }
    .drop-shadow-custom2 {
    position: relative;
    z-index: 1;
    box-shadow: inset -4px -4px 0 4px rgba(0, 0, 0, 0.4), inset 4px 4px 0 4px rgba(255, 255, 255, 0.25);
  }
}
